@font-face{
    font-family: main;
    src:url('../fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: titlefont;
    src:url('../fonts/master_of_break.ttf');
}

@font-face{
    font-family: subtitlefont;
    src:url('../fonts/raisin_des_sables.ttf');
}


*{
    font-family: main;
    font-weight: 200;
}

.logo{
  font-family: titlefont;
}

.dropdown-button{
  img{
    width:10px;
    vertical-align:middle;
  }
}
.dropdown-content{
  margin-top: $navbar-height-mobile;
  min-width: 200px;
}


.maingradient{
  background: #e53935;
  background: -webkit-linear-gradient(to left, #e53935 , #e35d5b);
  background: linear-gradient(to left, #e53935 , #e35d5b);
}
$green :#54e3b1;
.greengradient{
  background: $green;
  background: -webkit-linear-gradient(to left, $green , darken($green,10%));
  background: linear-gradient(to left, $green , darken($green,10%));
}


.trans{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.over{
  position: absolute;
  width:100%;
  height: 100%;
}

/* some variables */
$btnp_color : #E35856;
$btnp_text : #FFF;

.pbtn{
  background-color: $btnp_color;
  color:$btnp_text;
}
.pbtn:hover{
  background-color: darken($btnp_color,2%);
}

.loginmodal{
  background: #E35C59;
  color:#fff;
  h4{
    color: #fff;
  }
  .btn{
    background-color: #eee;;
    color:#000;
  }
  input[type="email"],input[type="password"]{
    border-color: rgb(192, 200, 198);
    &:focus,&:active{
      border-color: rgb(235, 247, 249);
      box-shadow: 0 1px 0 0 rgb(235, 247, 249);
    }
  }
}

.loginpage{
  min-height: 500px;
  p.error{
    color: rgb(236, 72, 55);
    font-size: 1.2rem;
  }
}

.parallax_content{
  color:#fff;
  position: absolute;
  z-index: 103;
  width:100%;
  height: 100%;
}

.top{
  @extend .parallax_content;
  text-align: center;
  .btn{
    background-color: $btnp_color;
    color:$btnp_text;
  }
  h1{
    margin-top: 0px;
    font-family: titlefont;
    font-size: 5rem;
  }
  h4{
    font-family: subtitlefont;
    font-size: 4rem;
  }
  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }
  input{
    z-index: 105;
  }
}

.cus_sh{
  @extend .parallax_content;
  h3{
    font-size: 2rem;
    margin-top: 70px;
  }
  form{

  }
}

.cuisine{
  color: #fff;
  @extend .maingradient;
  margin-bottom: -20px;
}

.front{

  .overlay{
    @extend .over;
    background: rgba(70, 68, 62, 0.47);
    z-index: 100;
  }
}

.services{
  padding: 100px 0;
  padding-bottom: 200px;
  @extend .maingradient;
  position: relative;

  .food{
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    img{
      width:100px;
    }
  }
}

.rest{
  .top{
    h3{
      padding-bottom: 20px;
    }
  }
}

.props{
   padding: 25px 0px;
  .col{
    text-align: center;
    padding: 10px 0px;
  }
  h2{
    font-size: 2rem;
    margin: 10px 0px 5px 0px;
  }
  img{
    width:120px;
  }

}

.feedback{

  position: relative;
  margin-bottom: -20px;
  color: #fff;
  min-height: 600px;
  .container{
    padding: 35px 0px;
  }
  .input-field{
   label{
     color: #eee;
   }
  }

  #resp{
    display: none;
  }


  .bg{
    @extend .over;
    background: url('../images/laddu.jpg');
    background-size: cover;
    z-index: -2;
  }
  .overlay{
    @extend .over;
    background: rgba(70, 68, 62, 0.47);
    z-index: -1;
  }
}

.socialbuttons{
    text-align: center;
    a.social{
        @extend .trans;
        background-color: #5e5353;
        height: 50px;
        width:50px;
        display: inline-block;
        border-radius: 100%;
        img{
            height:50px;
            width:50px;
        }
    }

    a.social:hover{
        background-color: #211f1f;
    }
}

@media #{$small-and-down} {
  .services{
    .food{
      img{
        width: 70px;
      }
    }
  }
  .rest{
    img{
      width:90px;
    }
  }

}
